.header{
    background-color: aqua;
    padding: 8px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color:blue;
}

.header-text{
    font-weight: bolder;
    font-size: x-large;
}

.link_container {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: medium;
    font-weight: 800;
}
.link_container a{
    padding-left: 10px;
    text-decoration: none;
}
.link_container a:hover{
    color:chocolate;
}

.home{
     background-color: blanchedalmond;
     height: 700px;
     width: 100%;
     padding-top:10px ;
}

.home-header{
    color:blue;
    font-size: xx-large;
    margin: 10px;
    padding: 10px;
}
.text-header{
    color:brown;
    font-size: x-large;
}
.home-text{
    color:blueviolet;
font-size: larger;
padding: 20px;
}
.blog_container{
        background-color: blanchedalmond;
        height: auto;
        width: 100%;
   
}
.post{
    border: 2px solid rgb(207, 105, 105);
    padding: 10px;
    font-size: medium;
}
.btn{
    padding: 3px;
    border: solid 1px red;
    margin-left: 6px;
    background-color: aqua;
    color: black;
    border-radius: 10px;
}
.btn:hover{
    background-color: blanchedalmond;
    color:blue;
}
.blog{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
    padding: 20px;
    margin-top: 100px;
}

.error{
    background-color: blanchedalmond;;
    color:red;
    font-size: xx-large;
    font-weight: bolder;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 600px;
}